<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="static/icon32.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="succeed"></div>
    <div id="chart-block">
      <h2>流量使用情况</h2>
      <div id="chart"></div>
    </div>
    <style>
      #chart-block {
        margin: 0% 20%;
      }
      @media (max-width: 600px) {
        #chart-block {
          margin: 0% 5%;
        }
      }
    </style>
    <!-- built files will be auto injected -->
  </body>
</html>
